html {
    /* px means "pixels". The base font size is now 10 pixels high */
    font-size: 10px;
    /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
    font-family: "Playfair", serif;
}

body {
    background-color: hsl(32, 91%, 69%);
}

h1 {
    font-size: 60px;
    text-align: center;
}

h4 {
    font-size: 30px;
    text-align: left;
}

a {
    color: black;
}

p,
li,
pre {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
